
<div class="container-fluid main-dashboard" ng-controller="IdeaBoxDAshBoardCtrl">
	<div class="container-fluid main-ideabox">
		<div class="container-fluid statistics" >
			<div class="container stats" >
				<div class="col-md-2 col-sm-2 col-xs-4">
				<span class="real-nos" ng-repeat="owner in ownerData">{{owner.no_of_ideas_submitted}}</span> <span style="font-size: 20pt;font-family: helvatica thin;">Ideas</span>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-4">
				<span class="real-nos" ng-repeat="owner in ownerData">{{owner.ideas_participating}}</span> <span style="font-size: 20pt;font-family: helvatica thin;">Participations</span>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-4">
				<span class="real-nos" ng-repeat="owner in ownerData">{{owner.ideas_completed}}</span> <span style="font-size: 20pt;font-family: helvatica thin;">Completed</span>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-4">
				<span class="real-nos">2</span><span style="font-size: 20pt;font-family: helvatica thin;"> Appreciations</span>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-8">
					<span class="real-nos11">Welcome</span><p class="real-nos22">{{user}}</p>
				</div>
			</div>
		</div>
		<div class="container-fluid statistics-slider">
			<div class="col-md-2 col-sm-2 col-xs-2 left-arrow" ng-click="isEnableLeft && clickPrevious()"><img src="images/Group 115.png"></div>
			<div class="col-md-8 col-sm-8 col-xs-8">
				<div class="col-md-12 col-sm-12 col-xs-12 sliding-container">
					<div ng-repeat="scrollind in scrollIndexs" class="outer-div ng-scroll-{{$index}}">
						<div class="inner-main-div">
							<img src="images/Layer 16.png">
							<h5 class="header-h5">Angularjs</h5>
							<p class="below-para">{{scrollind.ideas_participating}} Participants</p>
							
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-2  right-arrow" ng-click="isEnable && clickRight()"><img src="images/Group 116.png"></div>
		</div>
		<div class="container-fluid statistics-under">
			<div class="col-md-2 col-sm-2 col-xs-2"></div> 
			<div class="col-md-8 col-sm-8 col-xs-8">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="round-number"><span class="help-wanted">{{completeRequests.helpWanted}}</span> Help Wanted</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="round-number"><span class="join-wanted">{{completeRequests.joinRequests}}</span> Join Requests</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="round-number"><span class="approved-wanted">{{completeRequests.approvedRequests}}</span> Approved Requests</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="round-number"><span class="rejected-wanted">{{completeRequests.declinedRequests}}</span>Declined Requests</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-2"></div> 
		</div>
	</div>
	<div class="container-fluid display-ideas" >
		<div class="col-md-2 col-sm-2 col-xs-2"></div> 
		<div class="col-md-8 col-sm-8 col-xs-8 tabs-contents">
			<div class="container-fluid">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#allideas" class="ideaTab">ALL IDEAS</a></li>
					<li><a data-toggle="tab" href="#progress" class="ideaTab">INPROGRESS</a></li>
					<li><a data-toggle="tab" href="#completed" class="ideaTab">COMPLETED</a></li>
				</ul>
				<div class="col-md-12 col-sm-12 col-xs-12 pull-right grid-images">
					<img src="images/Tile icon.svg" ng-click="changestoList()" ng-hide="showThisList"/> <img src="images/List icon.svg" ng-click="changestoGrid()" ng-show="showThisList"/>
				</div>
				<div class="tab-content">
					<div id="allideas" class="tab-pane fade in active">
						
						<div class="outer-content-section col-md-12 col-sm-12 col-xs-12 remove-padding" ng-show="showThisList" style="margin-top: 10px;" ng-repeat="ideas in populateIdeas">
							<div class="col-md-12 col-sm-12 col-xs-12 main-content-section remove-padding">
								<div class="col-md-4 col-sm-4 col-xs-12 remove-padding">
									<div class="col-md-3 col-sm-3 col-xs-6 remove-padding" style="text-align:left;">
										<img src="images/Profile_2.png" style="height : 59px;width : 59px;border: 2px solid #fff;border-bottom: 0px;"> 
									</div>
									<div class="col-md-8 col-sm-8 col-xs-6 remove-padding">
										<h3 class="nameof-owner">{{ideas.name}} | Tech Lead</h3>
										<p class="location-owner">{{ideas.location}}, {{ideas.domain}}</p>
									</div>
								</div>
								<div class="col-md-8 col-sm-8 col-xs-12 remove-padding ideas-part">
									<div class="col-md-3 col-sm-3 col-xs-12">
									<div class="round-number"><span class="help-wanted1">{{ideas.no_of_ideas_submitted}}</span> <span style="font-family: helvatica thin;font-size:20px">Ideas</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
									<div class="round-number"><span class="help-wanted1">{{ideas.ideas_participating}}</span> <span style="font-family: helvatica thin;font-size:20px">Participants</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
									<div class="round-number"><span class="help-wanted1">{{ideas.ideas_completed}}</span> <span style="font-family: helvatica thin;font-size:20px">Completed</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
									<div class="round-number"><span class="help-wanted1">2</span><span style="font-family: helvatica thin;font-size:20px">Appreciations</span></div>
									</div>
								</div>	
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 sliding-container1">								
								<div ng-repeat="idea in ideas.ideas" class="col-md-4 col-sm-4 col-xs-12">
									<div class="outers-div col-md-12 col-sm-12 col-xs-12 remove-padding">
										<div class="inner-main-div1 col-md-12 col-sm-12 col-xs-12 remove-padding" >
											<img src="images/Layer 16.png">
											<h5 class="header-h5" style="padding-left:15px;">{{idea.name | uppercase}}</h5>
											<p class="below-para" style="padding-left:15px;">{{idea.details.no_of_participants}} Participants</p>
											<div style="position:absolute;right: 15px;bottom: 20px;color: #3385ff;font-size: 18px;"><img src="images/Thumps UP_Grey.png" ng-click="likeIt(idea._id)" style="height:18px;width:18px;cursor:pointer;"/> {{idea.details.likes}}</div>
										</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 remove-padding details-images">
										<h4 class="meet-team">Meet the Team</h4>
										<img src="images/Layer 231.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Layer 241.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Layer 251.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Shape 32.png" style="height : 36px;width : 36px;"/>
										<p class="overall-para">In publishing and graphic design, lorem ipsum (derived from Latin dolorem ipsum, translated as "pain itself") is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation</p>

										<div class="col-md-12 col-sm-12 col-xs-12 remove-padding see-mr" onclick="show_detail_div()" ng-click="showDetails(idea._id)">
											SEE MORE
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="outer-content-section col-md-12 col-sm-12 col-xs-12 remove-padding" ng-hide="showThisList" ng-repeat="ideas in populateIdeas" style="margin-top : 10px;">
							<div class="col-md-12 col-sm-12 col-xs-12 main-content-section remove-padding">
								<div class="col-md-4 col-sm-4 col-xs-4 remove-padding">
									<div class="col-md-3 col-sm-3 col-xs-3 remove-padding" style="text-align:left;">
										<img src="images/Profile_2.png" style="height : 59px;width : 59px;border: 2px solid #fff;border-bottom: 0px;"> 
									</div>
									<div class="col-md-8 col-sm-8 col-xs-8 remove-padding">
										<h3 class="nameof-owner">{{ideas.name}} | Tech Lead</h3>
										<p class="location-owner">{{ideas.location}}, {{ideas.domain}}</p>
									</div>
								</div>
								
								<div class="col-md-8 col-sm-8 col-xs-12 remove-padding ideas-part">
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">{{ideas.no_of_ideas_submitted}}</span> <span style="font-family: helvatica thin;font-size:20px">Ideas</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">{{ideas.ideas_participating}}</span> <span style="font-family: helvatica thin;font-size:20px">Participants</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">{{ideas.ideas_completed}}</span> <span style="font-family: helvatica thin;font-size:20px">Completed</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">2</span><span style="font-family: helvatica thin;font-size:20px">Appreciations</span></div>
									</div>
								</div>	
							</div>
							
							<div class="col-md-12 col-sm-12 col-xs-12 grid-det">
								<div class="col-md-12 col-sm-12 col-xs-12 grid-second remove-padding" ng-repeat="idea in ideas.ideas" style="margin-left: 40px !important;width: 97.5%;">
									<div class="col-md-1 col-sm-1 col-xs-1 grid-img remove-padding" style="text-align:left;"><img src="images/Group 152.png"/></div>
									<div class="col-md-6 col-sm-6 col-xs-6">
										<h4 class="content-detail">{{idea.name | uppercase}}</h4>
										<p class="immi-para">{{ideas.ideas_participating}} Participants</p>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 grid-imgss">
										<img src="images/Layer 231.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Layer 241.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Layer 251.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Shape 32.png" style="height : 36px;width : 36px;"/>
									</div>
									<div class="col-md-2 col-sm-2 col-xs-2 grid-likes"><img src="images/List_Like.svg" ng-click="likeIt(idea._id)"/> <span style="font-size: 20px;font-family: helvatica regular;vertical-align: middle;">{{idea.details.likes}}</span></div>
								</div>
							</div>
							
						</div>
						
						
					</div>
					<div id="progress" class="tab-pane fade">
						<div class="outer-content-section col-md-12 col-sm-12 col-xs-12 remove-padding" ng-show="showThisList" style="margin-top: 10px;" ng-repeat="ideas in incompleteIdeas">
							<div class="col-md-12 col-sm-12 col-xs-12 main-content-section remove-padding">
								<div class="col-md-4 col-sm-4 col-xs-12 remove-padding">
									<div class="col-md-3 col-sm-3 col-xs-6 remove-padding" style="text-align:left;">
										<img src="images/Profile_2.png" style="height : 59px;width : 59px;border: 2px solid #fff;border-bottom: 0px;"> 
									</div>
									<div class="col-md-8 col-sm-8 col-xs-6 remove-padding">
										<h3 class="nameof-owner">{{ideas.name}} | Tech Lead</h3>
										<p class="location-owner">{{ideas.location}}, {{ideas.domain}}</p>
									</div>
								</div>
								<div class="col-md-8 col-sm-8 col-xs-12 remove-padding ideas-part">
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">{{ideas.no_of_ideas_submitted}}</span> <span style="font-family: helvatica thin;font-size:20px">Ideas</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">{{ideas.ideas_participating}}</span> <span style="font-family: helvatica thin;font-size:20px">Participants</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">{{ideas.ideas_completed}}</span> <span style="font-family: helvatica thin;font-size:20px">Completed</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">2</span><span style="font-family: helvatica thin;font-size:20px">Appreciations</span></div>
									</div>
								</div>	
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 sliding-container1">								
								<div ng-repeat="idea in ideas.ideas" class="col-md-4 col-sm-4 col-xs-12">
									<div class="outers-div col-md-12 col-sm-12 col-xs-12 remove-padding">
										<div class="inner-main-div1 col-md-12 col-sm-12 col-xs-12 remove-padding" >
											<img src="images/Layer 16.png">
											<h5 class="header-h5" style="padding-left:15px;">{{idea.name | uppercase}}</h5>
											<p class="below-para" style="padding-left:15px;">{{idea.details.no_of_participants}} Participants</p>
											<div style="position:absolute;right: 15px;bottom: 20px;color: #3385ff;font-size: 18px;"><img src="images/Thumps UP_Grey.png" ng-click="likeIt(idea._id)" style="height:18px;width:18px;cursor:pointer;"/> {{idea.details.likes}}</div>
										</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 remove-padding details-images">
										<h4 class="meet-team">Meet the Team</h4>
										<img src="images/Layer 231.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Layer 241.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Layer 251.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Shape 32.png" style="height : 36px;width : 36px;"/>
										<p class="overall-para">In publishing and graphic design, lorem ipsum (derived from Latin dolorem ipsum, translated as "pain itself") is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation</p>
										<div class="col-md-12 col-sm-12 col-xs-12 remove-padding see-mr" onclick="show_detail_div()" ng-click="showDetails(idea._id)">
											SEE MORE
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="outer-content-section col-md-12 col-sm-12 col-xs-12 remove-padding" ng-hide="showThisList" ng-repeat="ideas in incompleteIdeas" style="margin-top : 10px;">
							<div class="col-md-12 col-sm-12 col-xs-12 main-content-section remove-padding">
								<div class="col-md-4 col-sm-4 col-xs-4 remove-padding">
									<div class="col-md-3 col-sm-3 col-xs-3 remove-padding" style="text-align:left;">
										<img src="images/Profile_2.png" style="height : 59px;width : 59px;border: 2px solid #fff;border-bottom: 0px;"> 
									</div>
									<div class="col-md-8 col-sm-8 col-xs-8 remove-padding">
										<h3 class="nameof-owner">{{ideas.name}} | Tech Lead</h3>
										<p class="location-owner">{{ideas.location}}, {{ideas.domain}}</p>
									</div>
								</div>
								<div class="col-md-8 col-sm-8 col-xs-8 remove-padding ideas-part">
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">{{ideas.no_of_ideas_submitted}}</span>
										<span style="font-family: helvatica thin;font-size:20px">Ideas</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">{{ideas.ideas_participating}}</span> <span style="font-family: helvatica thin;font-size:20px">Participants</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">{{ideas.ideas_completed}}</span><span style="font-family: helvatica thin;font-size:20px">Completed</span> </div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">2</span><span style="font-family: helvatica thin;font-size:20px">Appreciations</span></div>
									</div>
								</div>	
							</div>
							
							<div class="col-md-12 col-sm-12 col-xs-12 grid-det">
								<div class="col-md-12 col-sm-12 col-xs-12 grid-second remove-padding" ng-repeat="idea in ideas.ideas" style="margin-left: 40px !important;width: 97.5%;">
									<div class="col-md-1 col-sm-1 col-xs-1 grid-img remove-padding" style="text-align:left;"><img src="images/Group 152.png"/></div>
									<div class="col-md-6 col-sm-6 col-xs-6">
										<h4 class="content-detail">{{idea.name | uppercase}}</h4>
										<p class="immi-para">{{ideas.ideas_participating}} Participants</p>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 grid-imgss">
										<img src="images/Layer 231.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Layer 241.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Layer 251.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Shape 32.png" style="height : 36px;width : 36px;"/>
									</div>
									<div class="col-md-2 col-sm-2 col-xs-2 grid-likes"><img src="images/List_Like.svg" ng-click="likeIt()"/> <span style="font-size: 20px;font-family: helvatica regular;vertical-align: middle;">{{idea.details.likes}}</span></div>
								</div>
							</div>
							
						</div>
					</div>
					<div id="completed" class="tab-pane fade">
						<div class="outer-content-section col-md-12 col-sm-12 col-xs-12 remove-padding" ng-show="showThisList" style="margin-top: 10px;" ng-repeat="ideas in completeIdeas">
							<div class="col-md-12 col-sm-12 col-xs-12 main-content-section remove-padding">
								<div class="col-md-4 col-sm-4 col-xs-12 remove-padding">
									<div class="col-md-3 col-sm-3 col-xs-6 remove-padding" style="text-align:left;">
										<img src="images/Profile_2.png" style="height : 59px;width : 59px;border: 2px solid #fff;border-bottom: 0px;"> 
									</div>
									<div class="col-md-8 col-sm-8 col-xs-6 remove-padding">
										<h3 class="nameof-owner">{{ideas.name}} | Tech Lead</h3>
										<p class="location-owner">{{ideas.location}}, {{ideas.domain}}</p>
									</div>
								</div>
								<div class="col-md-8 col-sm-8 col-xs-12 remove-padding ideas-part">
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">{{ideas.no_of_ideas_submitted}}</span> <span style="font-family: helvatica thin;font-size:20px">Ideas</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">{{ideas.ideas_participating}}</span> <span style="font-family: helvatica thin;font-size:20px">Participants</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">{{ideas.ideas_completed}}</span> <span style="font-family: helvatica thin;font-size:20px">Completed</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">2</span><span style="font-family: helvatica thin;font-size:20px">Appreciations</span></div>
									</div>
								</div>	
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 sliding-container1">								
								<div ng-repeat="idea in ideas.ideas" class="col-md-4 col-sm-4 col-xs-12">
									<div class="outers-div col-md-12 col-sm-12 col-xs-12 remove-padding">
										<div class="inner-main-div1 col-md-12 col-sm-12 col-xs-12 remove-padding" >
											<img src="images/Layer 16.png">
											<h5 class="header-h5" style="padding-left:15px;">{{idea.name | uppercase}}</h5>
											<p class="below-para" style="padding-left:15px;">{{idea.details.no_of_participants}} Participants</p>
											<div style="position:absolute;right: 15px;bottom: 20px;color: #3385ff;font-size: 18px;"><img src="images/Thumps UP_Grey.png" ng-click="likeIt(idea._id)" style="height:18px;width:18px;cursor:pointer;"/> {{idea.details.likes}}</div>
										</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 remove-padding details-images">
										<h4 class="meet-team">Meet the Team</h4>
										<img src="images/Layer 231.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Layer 241.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Layer 251.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Shape 32.png" style="height : 36px;width : 36px;"/>
										<p class="overall-para">In publishing and graphic design, lorem ipsum (derived from Latin dolorem ipsum, translated as "pain itself") is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation</p>
										<div class="col-md-12 col-sm-12 col-xs-12 remove-padding see-mr" onclick="show_detail_div()" ng-click="showDetails(idea._id)">
											SEE MORE
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="outer-content-section col-md-12 col-sm-12 col-xs-12 remove-padding" ng-hide="showThisList" ng-repeat="ideas in completeIdeas" style="margin-top : 10px;">
							<div class="col-md-12 col-sm-12 col-xs-12 main-content-section remove-padding">
								<div class="col-md-4 col-sm-4 col-xs-4 remove-padding">
									<div class="col-md-3 col-sm-3 col-xs-3 remove-padding" style="text-align:left;">
										<img src="images/Profile_2.png" style="height : 59px;width : 59px;border: 2px solid #fff;border-bottom: 0px;"> 
									</div>
									<div class="col-md-8 col-sm-8 col-xs-8 remove-padding">
										<h3 class="nameof-owner">{{ideas.name}} | Tech Lead</h3>
										<p class="location-owner">{{ideas.location}}, {{ideas.domain}}</p>
									</div>
								</div>
								<div class="col-md-8 col-sm-8 col-xs-8 remove-padding ideas-part">
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">{{ideas.no_of_ideas_submitted}}</span> <span style="font-family: helvatica thin;font-size:20px">Ideas</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">{{ideas.ideas_participating}}</span> <span style="font-family: helvatica thin;font-size:20px">Participants</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">{{ideas.ideas_completed}}</span> <span style="font-family: helvatica thin;font-size:20px">Completed</span></div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="round-number"><span class="help-wanted1">2</span><span style="font-family: helvatica thin;font-size:20px">Appreciations</span></div>
									</div>
								</div>	
							</div>
							
							<div class="col-md-12 col-sm-12 col-xs-12 grid-det">
								<div class="col-md-12 col-sm-12 col-xs-12 grid-second remove-padding" ng-repeat="idea in ideas.ideas" style="margin-left: 40px !important;width: 97.5%;">
									<div class="col-md-1 col-sm-1 col-xs-1 grid-img remove-padding" style="text-align:left;"><img src="images/Group 152.png"/></div>
									<div class="col-md-6 col-sm-6 col-xs-6">
										<h4 class="content-detail">{{idea.name | uppercase}}</h4>
										<p class="immi-para">{{ideas.ideas_participating}} Participants</p>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 grid-imgss">
										<img src="images/Layer 231.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Layer 241.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Layer 251.png" style="height : 36px;width : 36px;border: 2px solid #ccc;border-radius: 50%;"/> <img src="images/Shape 32.png" style="height : 36px;width : 36px;"/>
									</div>
									<div class="col-md-2 col-sm-2 col-xs-2 grid-likes"><img src="images/List_Like.svg" ng-click="likeIt()"/> <span style="font-size: 20px;font-family: helvatica regular;vertical-align: middle;">{{idea.details.likes}}</span></div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
		<div class="col-md-2 col-sm-2 col-xs-2"></div> 
	</div>
	
	
	<!--Idea Details Popup-->
	
	<div id="ideadetails">
	
	
	
	</div>
	<div id="see-more-page" class="container-fluid">
		
		
		<div class="idea_detail_card row">
		<!--	<div class="detail-header" style="background-color: black;height: 58px;color:white;padding-top: 25px;font-size: 25px;">Idea Details-->
		<!--	<div  class="detail-back" onclick ="div_hide_detail()"><p class="glyphicon glyphicon glyphicon-menu-left" id="close"></p>Back</div>-->              
			   	<div id="header">
				<div  style="float:left;position: relative;top:-6px;left:5px;" onclick ="div_hide_detail()"><p class="glyphicon glyphicon glyphicon-menu-left" id="close"></p>Back</div>
									<span>Idea Details</span>
			</div>
				
			<!--</div>-->
		
			
		
			<div class="col-md-2 col-sm-2 col-xs-2">
			<div class="side-pannel"  style="margin-top: 120px;">
				<div class="inner-container" >
			<!--		<div class="idea">
				<div class="highlights" style="font-weight: 700;">IDEA</div><br>
				E-Commerce Buisness	
						<hr>
						
					</div><br>
					<div class="started_on" style="margin-top: 15px;">
						<div class="highlights"  style="font-weight: 700;">Started On</div><br>
					November 3rd 2016<br><br>
						<div class="highlights"  style="font-weight: 700;">Define Requirements</div><br>
						November 4th 2016
					
					</div><br>
					<div class="web_planning" style="margin-top: 50px;">
					<div class="highlights"  style="font-weight: 700;">Planning</div><br>
					November 11th 2016	
					</div><br>
					<div class="design" style="margin-top:50px;">
					<div class="highlights"  style="font-weight: 700;">Design</div><br>
					November 22nd 2016		
					</div><br>
					<div class="developement" style="margin-top:50px;">
					<div class="highlights"  style="font-weight: 700;">Developement</div><br>
					November 22nd 2016		
					</div><br>
					<div class="testing" style="margin-top:50px;">
					<div class="highlights"  style="font-weight: 700;">User Testing</div><br>
					December 15th 2016	
					</div><br>
					<div class="dead-line" style="margin-top:50px;">
					<div class="highlights"  style="font-weight: 700;">Dead line</div>
						</div>-->
					
					<div class="highlights" style="font-weight: 700;position:relative;left: -57px;">IDEA</div><br>
				E-Commerce Buisness<br><br>
					
					<div class="highlights"  style="font-weight: 700;"><img src="images/Profile_2.png" alt="" class="img-circle" style="height:30px;width: 30px;position: relative;left: -28px;">	Creater <br>
					Rachel Raj</div>
					<hr>
					
				<ul class="cbp_tmtimeline">
					
					
					
					
	<!--<li>
	
		<div class="cbp_tmicon cbp_tmicon-phone"></div>
		<div>
			<h6>IDEA</h6>
			<span>E-Commerce Buisness	</span>
		</div>
	</li>-->
	<li>
	
		<div class="cbp_tmicon cbp_tmicon-screen"></div>
		<div>
			<h6 id="detail_label">Started On</h6>
			<span>November 3rd 2016</span>
		</div>
	</li>
	<li>
		
		<div class="cbp_tmicon cbp_tmicon-mail"></div>
		<div>
			<h6 id="detail_label">Define Requirements</h6>
			<span>November 4th 2016</span>
		</div>
	</li>
	<li>
		
		<div class="cbp_tmicon cbp_tmicon-phone"></div>
		<div >
			<h6 id="detail_label">Planning</h6>
			<span>November 11th 2016	</span>
		</div>
	</li>
					<li>
		
		<div class="cbp_tmicon cbp_tmicon-phone"></div>
		<div >
			<h6 id="detail_label">Wire Framing</h6>
			<span>November 17th 2016	</span>
		</div>
	</li>
	<li>
	
		<div class="cbp_tmicon cbp_tmicon-earth"></div>
		<div>
			<h6 id="detail_label">Design</h6>
			<span>November 22nd 2016	</span>
		</div>
	</li>
					<li>
	
		<div class="cbp_tmicon cbp_tmicon-earth"></div>
		<div>
			<h6 id="detail_label">Developement</h6>
			<span>November 22nd 2016	</span>
		</div>
	</li>
					<li>
	
		<div class="cbp_tmicon cbp_tmicon-earth"></div>
		<div>
			<h6 id="detail_label">User Testing</h6>
			<span>December 15th 2016	</span>
		</div>
	</li>
					<li>
	
		<div class="cbp_tmicon cbp_tmicon-earth"></div>
		<!--<div>
			<h6 id="detail_label">Dead line</h6>
			<span>December 23rd 2016	</span>
			
		</div>-->
	</li>
</ul>
				</div>
				</div>
				</div> 
		<div class="col-md-10 col-sm-10 col-xs-10 ">
			<show-more-details></show-more-details>
		</div> 
		
			</div>
		

	</div>	
</div>


