
<div class="fixedHeight" id="ideadetails"  ng-controller="IdeaBoxDAshBoardCtrl" style="opacity:0.9;">
	
	
	<div class="row nameOfProject" ng-repeat="idea_details in showIndividualDetails">
		<!-- <img id="close" src="images/close.svg" onclick="div_hide_detail()"> -->
		<!--<div ><div  class="detail-back" onclick ="div_hide_detail()"><p class="glyphicon glyphicon glyphicon-menu-left" id="close"></p>Back</div></div>-->
		
		
		<div class="col-md-12" style="position: relative;top:2px;">	
			
		<div class="dropdown" style="float:right;position: relative; right: 16px;">				
				<div  class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical"></span></div>				
				<ul class="dropdown-menu dropdown-menu-right">
				  <li><a href="#/signin" ng-click="shareideacall('/signin')">Update</a></li>
				  <li><a href="">Share</a></li>				  
				</ul>
			</div>	
			
			
			
			
			
			<div class="remove-padding row ">
					<div class="remove-padding col-md-3">
						<img style="float:left; width:100%;" class="lib-img-show" src="images/Layer 16.png" >
                    </div>
					<div class="remove-padding col-md-9">
						<div class="col-md-12" style="padding:10px;text-align:left; font-weight:bold;font-size:24px">
						   <div class="col-md-2">{{idea_details.name}}</div>						
						</div>
						<div class="col-md-12" style="padding:10px;text-align:left">
									 <div class="col-md-12" style="line-height:15px;text-align: justify;">{{idea_details.justification}}<br>
										 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
							</div>		
						</div>
						
						<div class="col-md-12">
							
				
						</div>
					</div>
				
					<div class="col-md-12">	
					 <div class="col-md-3"></div>					
						<div class=" remove-padding col-md-6">
							<div class="dropdown" style="float:left;"><a href="#"><img src="images/Thumps UP_Grey.png" id="likes" ng-click="increment_likes()" style="height:25px;width:25px;cursor:pointer;margin-left: 18px;"/></a>{{val}} Like
							
									<div class="dropdown-content" style="left:0;">
									<a href="#"><span style="padding-right:15px;">
										               <img src="images/Layer 231.png" alt="" class="img-profile">
										        </span>Pooja
								    </a>
								     <a href="#"><span style="padding-right:15px;">
										              <img src="images/Layer 241.png" alt="" class="img-profile">
										         </span> Basava
								     </a>
									<a href="#"><span style="padding-right:15px;">
										<img src="images/Layer 231.png" alt="" class="img-profile">
										        </span> Hanisha
								    </a>
									<a href="#"><span style="padding-right:15px;">
										<img src="images/Layer 231.png" alt="" class="img-profile">
										</span> Yasaswi
								    </a>
									<a href="#"><span style="padding-right:15px;">
										<img src="images/Layer 231.png" alt="" class="img-profile">
										</span> Kalpana
								    </a>
									<a href="#"><span style="padding-right:15px;">
										<img src="images/Layer 241.png" alt="" class="img-profile">
										</span> Prashant
								    </a>
									<a href="#"><span style="padding-right:15px;">
										<img src="images/Layer 241.png" alt="" class="img-profile">
										       </span> Mahanth
								    </a>						
								</div>	
							
							</div>
				
				
				
										
							<div class="col-md-3 dropdown" style="float:left;margin-left:20px;"><img src="images/Following.png" id="follow" ng-click="increment_following()" style="height:25px;width:25px;cursor:pointer;"/>{{follow}} Follow
						
								<div class="dropdown-content" style="left:0;">
									<a href="#"><span style="padding-right:15px;">
										               <img src="images/Layer 231.png" alt="" class="img-profile">
										        </span>Pooja
								    </a>
								     <a href="#"><span style="padding-right:15px;">
										              <img src="images/Layer 241.png" alt="" class="img-profile">
										         </span> Basava
								     </a>
									<a href="#"><span style="padding-right:15px;">
										<img src="images/Layer 231.png" alt="" class="img-profile">
										        </span> Hanisha
								    </a>
									<a href="#"><span style="padding-right:15px;">
										<img src="images/Layer 231.png" alt="" class="img-profile">
										</span> Yasaswi
								    </a>
									<a href="#"><span style="padding-right:15px;">
										<img src="images/Layer 231.png" alt="" class="img-profile">
										</span> Kalpana
								    </a>
									<a href="#"><span style="padding-right:15px;">
										<img src="images/Layer 241.png" alt="" class="img-profile">
										</span> Prashant
								    </a>
									<a href="#"><span style="padding-right:15px;">
										<img src="images/Layer 241.png" alt="" class="img-profile">
										       </span> Mahanth
								    </a>						
								</div>				
							</div>
						</div>
				
				
				<div class="col-md-3 join-btn">
					<button type="button" class="btn btn-default " onclick="show_join_div()">
						  <a href="#">
                               <span class="glyphicon glyphicon-plus"></span> </a>JOIN
						 
                    </button>
			    </div>
				
			</div>	
				
				
				
				
				
			</div>				
		</div>		
	</div>

	<div class="row" style="background:white;margin-top:10px;"  ng-repeat="ideadetails in showIndividualDetails">
		<div class="col-md-8 col-sm-8 col-xs-12">
			<!-- <div class="col col-md-2 col-sm-2 col-xs-4">
				<h4>Share : </h4>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-4" style="margin-top: 5px;">			
					<a style="text-decoration:none;cursor:pointer">	
						<img src="images/Idea detail_assets/Update_blue.png" style="float: left;padding-left:5px;" />
						<p style="margin-top: 12px;font-size: 18px;text-align: left;">Update</p>				
					</a>									
			</div>
			<div class="remove-padding col-md-2 col-sm-2 col-xs-4" style="margin-top: 5px;">
				<a style="text-decoration:none;cursor:pointer">	
						<img src="images/Idea detail_assets/Link_blue.png" style="float: left;padding-right:5px" />
						<p style="margin-top: 12px;font-size: 18px;text-align:left;">Link</p>				
				</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-4" style="margin-top: 5px;" >
				<a style="text-decoration:none;cursor:pointer">	
						<img src="images/Idea detail_assets/Drop box_Blue.png" style="float: left; padding-right: 5px;" />
						<p style="margin-top: 12px;font-size: 18px;text-align:left; ">Drop box</p>				
				</a>
			</div>	 -->	
			<nav class="navbar">
			  <div class="container-fluid">
				<div class="navbar-header">
				  <a class="navbar-brand" href="" style="color: #5f5858; font-size: 18px;font-weight: 700;">Share :</a>
				</div>
				<ul class="nav navbar-nav">
				  <li class="active"><a href="#" style="color: #999; font-size: 18px;font-weight: 700;"><img src="images/Idea detail_assets/Shape 36.png" />Update</a></li>
				  <li><a href="#" style="color: #999; font-size: 18px;font-weight: 700;"><img src="images/Idea detail_assets/Shape 37.png" />Link</a></li>
				  <li><a href="#" style="color: #999; font-size: 18px;font-weight: 700;"><img src="images/Idea detail_assets/Shape 42.png" />Drop box</a></li>
				</ul>
			  </div>
			</nav>
			
			<div class="remove-padding col-md-12" style="border:1px solid #ccc;">
				
				<div class="remove-padding col-md-12">				
						<textarea name="message" style="width:100%;height:80px" ng-model="updatestring"></textarea>								
				</div>
				
				<div class="remove-padding col-md-12 col-sm-12 col-lg-12" style="padding: 5px;" >
					<div style="float:left">						
						<button class="btn btn-default" style="color: #333 !important;"><span class="glyphicon glyphicon-user"></span>&nbsp Add people to notify</button>
					</div>
					<div style="float:right">
						<button class="btn btn-default" ng-click="updateidea(ideadetails._id,updatestring);" style="color: #fff !important;background-color: #75daf7;border-color: #75daf7;">Post</button>	
					</div>
				</div>
			</div>
			<div class="remove-padding col-md-12" style="margin-top:10px;margin-bottom: 10px;">
				<div class="col-md-6 col-lg-6 col-sm-12">					
					<video width="100%" height="240" controls>
					  <source src="videos/intro.mp4" type="video/mp4">					 				 
					</video>
				</div>
				<div class="col-md-6 col-lg-6 col-sm-12" style="color: black;line-height: initial;text-align: justify;">
					<p style="margin-top:0px;">
					It is a long established fact that a reader will be distracted by the readable content
					of a page when looking at its layout. The point of using Lorem Ipsum is that it
					has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
					content here', making it look like readable English. <br/>
					Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
					model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
					Various versions have evolved over the years, sometimes by accident, sometimes on purpose 
					</p>
				</div>
			</div>
			<div class="remove-padding col-md-12 ">
				<div class="col-md-2">
					<a href="#">
						<span class="glyphicon glyphicon-thumbs-up"></span>
						<span>Like</span>
					</a>
				</div>
				<div class="col-md-2">
					<a href="#">
						<span class="glyphicon glyphicon glyphicon-comment"></span>
						<span>Comment</span>
					</a>
				</div>
				<div class="col-md-2">
					<a href="#">
						<span class="glyphicon glyphicon glyphicon-share"></span>
						<span>Share</span>
					</a>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-4">
						<p>people like this</p>
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<a href="#">
						<p class="glyphicon glyphicon glyphicon-comment"> View all Comments</p>
					</a>
				</div>
			</div>
			
			<div class="col-md-12">
				
			</div>
			
		</div>		
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="col-md-12 remove-padding">
				<div class="remove-padding col-md-10 col-sm-12" style="text-align: left;">
					<p style="font-weight: 600; color: #555;">Project Participents</p>
				</div>
				<div class="remove-padding col-md-2 col-sm-12">
					<p style="font-weight: 600; color: #555;">See all</p>
				</div>
			</div>
			<div class="col-md-12 remove-padding">
				<div class="remove-padding col-md-6 col-sm-12 col-lg-6" style="text-align: left;">					
					<img src="images/Profile_2.png" alt="" class="img-circle">					
					<img src="images/Profile_2.png" alt="" class="img-circle">								
				</div>
				<div class="col-md-6">
					
				</div>
			</div>	
			<div class="remove-padding col-md-12">
				<div class="remove-padding col-lg-10 col-md-10 col-sm-12" style="text-align: left;">
					<p style="font-weight: 600; color: #555;">Recommended Participents</p>
				</div>
				<div class="remove-padding col-md-2 col-lg-2 col-sm-12">
					<p style="font-weight: 600; color: #555;">See all</p>
				</div>
			</div>
			<div class="remove-padding col-md-12">
				<div class="remove-padding col-md-2 col-sm-4">
					<img src="images/Profile_2.png" alt="" class="img-circle">	
				</div>
				<div class="remove-padding col-md-10 col-sm-8">
					<h5 style="text-align:left;font-weight:bold;">Rachel Raj | Senior tech lead</h5>
					<h6 style="text-align:left;font-weight:600">Hyderbad,Business development</h6>
					<h5 style="text-align:left;">20+Ideas</h5>
					<h3 style="text-align:left;color: #07c3f9;">*****</h3>						
					<!-- <img src="" ng-repeat="1 in ratings"><img src="" ng-repeat="1 in remaingCnt"> -->
				</div>
				<div class="remove-padding col-md-2 col-sm-4">
					<img src="images/Profile_2.png" alt="" class="img-circle">	
				</div>
				<div class="remove-padding col-md-10 col-sm-8">
					<h5 style="text-align:left;font-weight:bold;">Rachel Raj | Senior tech lead</h5>
					<h6 style="text-align:left;font-weight:600">Hyderbad,Business development</h6>
					<h5 style="text-align:left;">20+Ideas</h5>
					<h3 style="text-align:left;color: #07c3f9;">*****</h3>						
					<!-- <img src="" ng-repeat="1 in ratings"><img src="" ng-repeat="1 in remaingCnt"> -->
				</div>
			</div>	
			<div class="remove-padding col-md-12">
				<div class="remove-padding col-lg-10 col-md-10 col-sm-12" style="text-align: left;">
					<p style="font-weight: 600; color: #555;">2 Join Requests</p>
				</div>
				<div class="remove-padding col-md-2 col-lg-2 col-sm-12">
					<p style="font-weight: 600; color: #555;">See all</p>
				</div>
			</div>	
			<div class="remove-padding col-md-12">
				<div class="remove-padding col-lg-10 col-md-10 col-sm-12" style="text-align: left;">
					<p style="font-weight: 600; color: #555;">Project Documents</p>
				</div>
				<div class="remove-padding col-md-2 col-lg-2 col-sm-12">
					<p style="font-weight: 600; color: #555;">See all</p>
				</div>
			</div>				
		</div>
	</div>	
	
	<!--popup for joinrequest-->
				
				<div id="joinrequest">
                      <div ng-include="'partials/JoinRequest.html'"></div>
                </div>

				
				
				
			<!--	ends here-->

</div>	


