<div class="container-fluid fixedHeight" style="padding:0px" ng-controller="introductionCtrl">
    <div class="row fixedHeight">
        <div class="col-lg-12 fixedHeight">

            <div id="mainContainer">
                <video class="vjs-tech" id="vjs_video_3_html5_api" loop autoplay src="videos/intro.mp4" style="width: 100%; height: 100%; margin-left: 0px;  float:left"></video>
                <div id="innerContainerWrapper">
                    <div id="scrollContainer">
                        <div id="innerContainer" onscroll="scrollText(event)">
                            <p ng-repeat="item in lTextToAnimate track by $index" ng-style="textAnimClass($index, $first, $last)" ng-bind-html="item | to_trusted"></p>
                        </div>
                        <span class="scroll-btn">
			<a class="page-scroll" href="#about">
				<span class="mouse">
					<span>
					</span>
                        </span>
                        </a>
                        <span style="opacity:0.5">SCROLL DOWN</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //Module: Animate text when user scroll down
    function scrollText(e) {
        var scrollPercentage = 100 * e.target.scrollTop / (e.target.scrollHeight - e.target.clientHeight);
        var centerElement = Math.floor(scrollPercentage / 100 * document.getElementById('innerContainer').childElementCount);
        var lPElement = document.querySelectorAll("#innerContainer p");
        var progressBar = document.querySelector(".active .introduction");
        progressBar.style.width = scrollPercentage + "%";
        lPElement[centerElement].style.opacity = "1";
        lPElement[centerElement].style.transform = "matrix(1, 0, 0, 1, 0, 0)";

        for (var i = 1; i <= 4; i++) {
            var oValue = 1 - i * 0.25;
            var mValue = 1 - i * 0.1;
            if (lPElement[centerElement + i]) {
                lPElement[centerElement + i].style.opacity = oValue;
                lPElement[centerElement + i].style.transform = "matrix(" + mValue + "1, 0, 0, " + mValue + ", 0, 0)";
                lPElement[centerElement + i].style.transition = "transform 500ms";
            }

            if (lPElement[centerElement - i]) {
                lPElement[centerElement - i].style.opacity = oValue;
                lPElement[centerElement - i].style.transform = "matrix(" + mValue + "1, 0, 0, " + mValue + ", 0, 0)";
                lPElement[centerElement - i].style.transition = "transform 300ms";
            }

        }
    }
</script>